
body{
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0;
}
header{
    width: 100%;
    position: relative;
    top:0;
}
ul{
    list-style-type: none;
    float: right;
}
nav ul > li{
    display: inline;
    display: inline-block;
    line-height: 24px;
    margin:0px 5px;
    outline: none;
    vertical-align: middle;
}

nav ul > li a{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
nav ul > li a:hover{
    text-decoration: underline;
}
nav ul > li:last-child a{
    border: 1px solid #0069ff;
    background-color:#0069ff;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
}
nav ul li:nth-child(3) a{
    outline: none;
    height: 30px;
    width: 30px;
}
nav ul > li:last-child a:hover{
    text-decoration: none;
}
main{
    position: absolute;
    top:25%;
    left: 35%;
}
form input[type=text]{
    background-color:#ffffff;
    border: 1px solid #dfe1e5;
    padding:15px;
    width: 584px;
    border-radius: 24px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}
form input[type=button]{
    position: relative;
    left: 28%; 
    top:20px;
    padding: 10px;
    background-color: #f2f2f2;
    border:2px solid #f2f2f2;
    border-radius: 4px;
}
form input[type=button]:hover{
    cursor: pointer;
    border:2px solid #eee;
}
textarea:focus, input:focus{
    outline: none;
}
main div > a{
   margin-left: 28%;
   margin-bottom: 20px;
}

body, footer{
    display: block;
}
footer{
    bottom: 0;
    font-size: 10pt;
    position: fixed;
    background-color: #f2f2f2;
    z-index: 104;
    width: 100%;
    margin: 0;
}
.bottom-footer{
    display: block;
    width: 100%;
    text-align: left;
}
.top-footer p{
    margin-left: 15px;
    color: rgba(0,0,0,0.87);
}
.bottom-footer{
    border-top: 1px solid #e4e4e4;
    width: 100%;
}
.lang{
    margin-top: 50px;
}
.lang a{
    margin:0 8px;
    color: #1a0dab;
}
.lang a:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer ul > li{
    display: inline;
    line-height: 24px;
    margin:0px 0px;
    text-align: left;
}
.bottom-footer > .left{
    float: left;
    margin-left: -22px;
}

.bottom-footer > .right{
    float: right;
    margin-right: 15px;
}
footer ul > li a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

@media (min-width: 320px) and (max-width: 480px) {
  main div > a {
    margin-left:-10%;
    margin-bottom: 20px;
}
  form input[type=text]{
    background-color:#ffffff;
    border: 1px solid #dfe1e5;
    padding:15px;
    width: 200px;
    border-radius: 24px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

main{
    position: absolute;
    top:25%;
    left: 22%;
}
form input[type=button]{
    position: relative;
    left: 8%; 
    top:20px;
    padding: 10px;
    width: 100px;
    background-color: #f2f2f2;
    border:2px solid #f2f2f2;
    border-radius: 4px;
    font-size: 8pt;
}
footer ul > li a{
    font-size: 5pt;
}
footer ul > li{
    display: inline;
    line-height: 24px;
    margin:0px 1px;
}
.lang a{
    margin:0 0px;
    color: #1a0dab;
    font-size: 5pt;
}

.top-footer p{
    color: rgba(0,0,0,0.87);
    font-size: 5pt;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  
  main{
    position: absolute;
    top:25%;
    left: 22%;
}
footer a, footer p{
    font-size: 22px;
    margin: 0, 5px;
}
}